* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --couleur-feu: orange;
    --couleur-eau: aqua;
    --couleur-plante: chartreuse;
    --couleur-elektrik: yellow;
    --couleur-fée: pink;
    --couleur-psy: fuchsia;
    --couleur-sol: darkgoldenrod;
}

header {
    text-align: center;
}

h1 {
    margin: 1rem 0;
    font-size: 4rem;
}

/*----------------------Grid-------------------------*/

main {
    display: grid;
    width: 100vw;
    margin: 2rem 2rem;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
}

.fiche {
    border: 1px solid black;
    box-shadow: 2px 2px black;
    border-radius: 10px;
    aspect-ratio: 10/12;
    width: 20vw;
    min-width: 200px;
    text-align: center;
    position: relative;
}

.fiche>header {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.fiche>img {
    aspect-ratio: 1/1;
    width: 90%;
}

.fiche:hover {
    scale: 1.1 1.1;
    box-shadow: 3px 3px black;
}

.legendaire::before {
    content: url("masterball.svg");
    transform: scale(0.5);
    position: absolute;
    top: -16%;
    left: -18%;
}

/*---------------couleur-type--------------*/

.fiche:has(.feu) {
    background-color: var(--couleur-feu);
}


.fiche:has(.eau) {
    background-color: var(--couleur-eau);
}

.fiche:has(.plante) {
    background-color: var(--couleur-plante);
}

.fiche:has(.electrik) {
    background-color: var(--couleur-elektrik);
}

.fiche:has(.fée) {
    background-color: var(--couleur-fée);
}

.fiche:has(.psy) {
    background-color: var(--couleur-psy);
}

.fiche:has(.sol) {
    background-color: var(--couleur-sol);
}

/*-----------------responsiveness------------------*/

@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
